DATABASE_URL="postgresql://<user>:<password>@<endpoint_hostname>.neon.tech:<port>/<dbname>?sslmode=require&channel_binding=require"
SESSION_SECRET=your-long-random-session-secret

# Cloudinary Image + Video + Documents
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret
CLOUDINARY_CLOUD_NAME=your-cloudinary-public-name

# Resend Configuration (For Contact Form)
RESEND_API_KEY=your-resend-api-key
EMAIL_FROM=website@padelix.co.id
BUSINESS_EMAIL=business@padelix.co.id

# Site Configuration
NEXT_DEV_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SITE_URL=https://padelix.co.id
NEXT_PUBLIC_META_PIXEL_ID=your-meta-pixel-id
